@import "partials/params";
@import "partials/mixins";


#features {

    padding: 40px 0 60px;
    text-align: center;

    & img {
        margin-bottom: 20px;
    }

    & .text {
        display: flex;;
        justify-content: space-around;
        margin: 0 auto;
        width: 950px;


        & > div {
            width: 25%;
            font-weight: bold;
            font-size: 20px;

            & > div {
                position: relative;
            }
        }


        & .first > div {
            right: 45px;
        }

        & .second > div {
            right: 14px;
        }
        & .third > div {
            left: 20px;
        }
        & .fourth > div {
            left: 54px;
        }
    }
}
