.clean() {
    padding: 0;
    margin: 0;
}

.clean-list() {
    .clean;
    list-style: none;
}

.flex-center (@dir: column) {
    display: flex;
    flex-direction: @dir;
    align-items: center;
    justify-content: center;
}
